{% extends 'base.html' %}

{% block content %} 

<div class="container py-5">
    <main>
        <section id="about">
            <h2>About Us</h2>
            <p>Welcome to our room booking application! We provide a convenient platform for users to book rooms for various purposes, whether it's for meetings, events, or any other gatherings. Our application allows you to easily find available rooms, book them for specific dates and times, and manage your bookings effortlessly.</p>
        </section>
    
        <section id="features">
            <h2>Features</h2>
            <ul>
                <li>Easy room search and booking process</li>
                <li>Flexible availability options</li>
                <li>User-friendly interface</li>
                <li>Secure login system using Firebase</li>
                <li>Convenient management of bookings</li>
            </ul>
        </section>
    
        <section id="contact">
            <h2>Contact Us</h2>
            <p>If you have any questions or feedback, feel free to get in touch with us:</p>
            <ul>
                <li>Email: info@example.com</li>
                <li>Phone: +1234567890</li>
            </ul>
        </section>
    </main>

    <footer>
        <center><p>&copy; 2024 Room Booking App</p></center>
    </footer>
</div>
{% endblock %}